/* HEADER */
.logo{
  width: 50px;
}

.container {
  background-color:bisque;
  width: 90%;
}

/* APP */
.content{
  margin-top: 100px;
  display: flex;
}

/* MENU */
.btn-label{
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

/* ACTION BAR */
.actionItems{
  padding:5px;
}